@import "variables";
@import "shame";
@import "partials/hamburger";
@import "partials/button";
@import "partials/modal-window";
@import "partials/baner";
@import "partials/numbers";
@import "partials/forms";
@import "partials/search";
@import "partials/fancybox";
@import "partials/side-bar";
@import "layout";

@import "header";
@import "pages/1-main";
@import "pages/2-news";
@import "pages/3-catalog-gorodov";
@import "pages/5-catalog-obekt";
@import "pages/6-catalog-object-details";
@import "pages/7-news-details";
@import "pages/8-partners";
@import "pages/9-partners-details";
@import "pages/10-servises";
@import "pages/11-servises-details";
@import "pages/12-vistavki";
@import "footer";

