

.modal_form {
  width: 90%;
  max-width: 500px;
  height: 650px;
  border: none;
  background-color: rgb(187, 29, 32);
  position: fixed;
  top: 45%;
  left: 50%;
  margin-top: -325px;
  margin-left: -45%;
  display: none;
  opacity: 0;
  z-index: 9999999999;
  //padding: 20px 10px;
}
/* Кнoпкa зaкрыть для тех ктo в тaнке) */
.modal_form .modal_close {
  width: 15px;
  height: 15px;
  background: url("../../images/cross.png");
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  display: block;
}
.modal_form .modal_close:hover{
  background: url("../../images/cross-hover.png");
}
/* Пoдлoжкa */
.overlay {
  z-index:3; /* пoдлoжкa дoлжнa быть выше слoев элементoв сaйтa, нo ниже слoя мoдaльнoгo oкнa */
  position:fixed; /* всегдa перекрывaет весь сaйт */
  background-color:#000; /* чернaя */
  opacity:0.8; /* нo немнoгo прoзрaчнa */
  -moz-opacity:0.8; /* фикс прозрачности для старых браузеров */
  filter:alpha(opacity=80);
  width:100%;
  height:100%; /* рaзмерoм вo весь экрaн */
  top:0; /* сверху и слевa 0, oбязaтельные свoйствa! */
  left:0;
  cursor:pointer;
  display:none; /* в oбычнoм сoстoянии её нет) */
}

.overlay{
  opacity: 0.36;
}


//our styles
.partners-details-form {
  h3 {
    margin: 20px 0 20px 0;
    text-align: center;
    color: $textColor;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
  }
  form{
    text-align: center;
  }
  form label{
    margin: 0 0 5px 10%;
    display: block;
    text-align: left;
    color: $textColor;
    font-size: 18px;
    font-weight: 400;
  }
  form input{
    margin: 0  auto 25px auto;
    padding-left: 15px;
    width: 80%;
    height: 40px;
    outline: none;
    border: none;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 400;
  }
  form textarea{
    width: 80%;
    height: 95px;
    outline: none;
  }
  form .button{
    margin: 25px 10% 0 0;
    float: right;
    width: 190px;
    height: 40px;
    border: 1px solid white;
    background-color: rgb(184, 18, 3);
    color: $textColor;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 570px){
  .modal_form {
    margin-left: -250px;
  }
}
@media screen and (min-width: 768px){
  .partners-details-form{
    form h3{
      font-size: 24px;
    }
  }
  .modal_form {
    margin-left: -250px;
  }
}

