.exhibition {
  .exhibition-cont {
    h2 {
      color: black;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .image {
      display: block;
    }
    .image img {
      width: 100%;
    }
    .date {
      color: rgb(187, 29, 32);
      font-size: 16px;
      font-weight: 400;
    }
    p {
      color: black;
      font-size: 16px;
      font-weight: 400;
    }
    .logo-company {
      display: block;
      max-width: 130px;
      max-height: 130px;
      min-height: 50px;
    }
    .logo-company img {
      width: 100%;
    }
    .text {
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: justify;
      max-height: 200px;
      overflow: hidden;
    }
    .link{
      float: right;
      color: rgb(187, 29, 32);
      font-size: 14px;
      font-weight: 400;
    }
    .link:hover{
      color: black;
    }
  }
}



@media screen and (max-width: 767px) {
  .exhibition {
    margin: 40px 0 40px 0;
    .exhibition-cont {
      margin: 40px 0 0 0;
      h2 {
        margin: 0 0 15px 0;
      }
      .date {
        margin: 10px 0 10px 0;
      }

      .text {
        margin: 10px 0 10px 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .exhibition {
    margin: 40px 0 170px 0;
    .exhibition-cont {
      margin: 40px 0 0 0;
      h2 {
        margin: 0 0 15px 0;
        font-size: 26px;
      }
      .image {
        margin: 0 20px 0 0;
        float: left;
        width: 270px;
        height: 180px;
      }
      .image img {
        width: 100%;
        height: 100%;
      }
      .date {
        margin: 20px 0 20px 0;
        color: rgb(187, 29, 32);
        font-size: 16px;
        font-weight: 400;
      }
      p {
        margin: 0 0 20px 0;
        color: black;
        font-size: 16px;
        font-weight: 400;
      }
      .logo-company {
        display: inline-block;
        max-width: 130px;
        max-height: 130px;
      }
      .logo-company img {
        max-width: 100%;
      }
      .text {
        margin: 10px 0 10px 0;
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        text-align: justify;
        max-height: 132px;
        overflow: hidden;
      }
      .link{
        float: right;
        color: rgb(187, 29, 32);
        font-size: 14px;
        font-weight: 400;
      }
      .link:hover{
        color: black;
      }
    }
  }
}