.exhibition-details{
  margin: 50px 0 110px 0;
  .exhibition-cont{
    h2{
      color: black;
      font-size: 22px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .info-cont {
      .date {
        color: rgb(187, 29, 32);
        font-size: 16px;
        font-weight: 400;
      }
      img {
        width: 100%;
      }
      p {
        color: black;
        font-size: 16px;
        font-weight: 400;
      }
      .button {
        padding: 0 0 0 20px;
        text-align: left;
        width: 210px;
        height: 40px;
        background-color: rgb(187, 29, 32);
        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 40px;
        position: relative;
      }
      .button:after{
        content: "";
        width: 26px;
        height: 17px;
        position: absolute;
        top: 12px;
        right: 15px;
        background: url("../images/pdf-button.png") no-repeat;
      }
      .button:hover{
        background-color: rgb(138, 23, 25);
      }
    }
    .text{
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 22px;
      text-align: justify;
      height: 245px;
      overflow: hidden;
    }
    .button-cont{
      .button{
        width: 220px;
        height: 45px;
        background-color: rgb(187, 29, 32);

        color: white;
        font-size: 16px;
        font-weight: 400;
        line-height: 45px;
        text-transform: uppercase;
      }
      .button:hover{
        background-color: rgb(138, 23, 25);
      }
    }
  }
}
@media screen and (max-width: 767px) {
  .exhibition-details{
    .exhibition-cont{
      h2{
        margin: 0 0 15px 0;
      }
      .info-cont {
        .date {
          margin: 0 0 20px 0;
        }
        img {
          margin: 0 0 15px 0;
        }
        p {
          margin: 0 0 15px 0;
        }
        .button {
          margin: 30px auto 20px auto;
        }
      }
      .text{

      }
      .servises-photo-cont{
        margin: 40px 0 0 0;
        a{
          margin: 10px 0;
          display: block;
        }
        a img{
          width: 100%;
        }
      }
      .button-cont{
        margin: 20px 0 0 0;
        .button{
          margin: 10px auto;
        }

      }
    }
  }
}
@media screen and (min-width: 768px) {
  .exhibition-details{
    .exhibition-cont{
      h2{
        margin: 0 0 15px 0;
      }
      .info-cont {
        margin: 0 10px 0 0;
        float: left;
        .date {
          margin: 0 0 20px 0;
        }
        img {
          margin: 0 0 15px 0;
          width: 210px;
          height: 140px;
        }
        p {
          margin: 0 0 15px 0;
        }
        .button {
          margin: 30px 0 20px 0;
        }
      }
      .text{
        margin: 40px 0 0 0;
      }
      .servises-photo-cont{
        margin: 40px 0 0 0;
        a.fancybox{
          padding: 10px;
          display: block;
          float: left;
          width: 25%;
          height: 125px;
        }
        a img{
          width: 100%;
          height: 100%;
        }
      }
      .button-cont{
        float: right;
        margin: 20px 0 0 0;
        .button{
          margin: 0 0 0 20px;
          float: left;
        }

      }
    }
  }
}
@media screen and (min-width: 992px) {
  .exhibition-details{
    .exhibition-cont{
      .servises-photo-cont {
        margin: 40px 0 0 0;
        a.fancybox {
          padding: 10px;
          display: block;
          float: left;
          width: 25%;
          height: 150px;
        }
      }
    }
  }
}