.contact-us{
  .info-cont{
    margin: 0 0 40px 0;
    h2{
      margin: 50px 0 20px 0;
      color: rgb(187, 29, 32);
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
    }
    p{
      color: rgb(1, 1, 1);
      font-size: 18px;
      font-weight: 400;
    }
    p:nth-child(n+10){
      font-size: 16px;
    }
  }
  .form-cont{
    margin: 0 0 60px 0;
    text-align: center;
    h2{
      margin: 0 0 40px 0;
      color: rgb(187, 29, 32);
      font-size: 21px;
      font-weight: 400;
      text-transform: uppercase;
    }
    form label{
      margin: 0 0 0 5%;
      text-align: left;
      display: block;
      color: black;
      font-size: 18px;
      font-weight: 400;
    }
    form input{
      margin: 0 auto 20px;
      text-align: left;
      width: 90%;
      height: 40px;
      display: block;
      border: 1px solid rgba(187, 29, 32, 0.75);
      outline: none;
    }
    textarea{
      margin: 0 auto 20px;
      text-align: left;
      width: 90%;
      height: 120px;
      display: block;
      border: 1px solid rgba(187, 29, 32, 0.75);
      outline: none;
    }
    .text{
      margin: 0 0 10px 5%;
      text-align: left;
      color: rgb(187, 29, 32);
      font-size: 14px;
      font-weight: 400;
    }
    .button{
      text-align: center;
      border: none;
      background-color: rgb(184, 18, 3);
      color: white;
      font-size: 14px;
      font-weight: 400;
      text-transform: uppercase;
    }
    .button:hover{
      background-color: rgb(138, 23, 25);
    }
  }
  #map{
    width: 100%;
    height: 530px;
  }
}
@media screen and (min-width:768px){
  .contact-us{
    .info-cont{
      margin: 0 0 40px 0;
      float: left;
      width: 50%;
      h2{
        margin: 50px 0 20px 0;
      }
    }
    .form-cont{
      margin: 50px 0 0 0;
      float: left;
      width: 50%;
      text-align: center;
      h2{
        margin: 0 0 40px 0;
        font-size: 24px;
      }
      form label{
        margin: 0 0 0 5%;
      }
      form input{
        padding: 0 0 0 15px;
        margin: 0 auto 20px;
        text-align: left;
        width: 90%;
        height: 40px;
        display: block;
        border: 1px solid rgba(187, 29, 32, 0.75);
        outline: none;
      }
      textarea{
        margin: 0 auto 20px;
      }
      .text{
        margin: 0 0 10px 5%;
      }
      .button{
        text-align: center;
      }
    }
    #map{
      width: 100%;
      height: 530px;
    }
    #map iframe{
      scrollwheel: false
    }
  }
}