.up-line{
  display: block;
  height: 40px;
  background-color: rgb(187, 29, 32);
  .text{
    text-align: center;
    color: white;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 40px;
    position: relative;
  }
  .text:before{
    content: "";
    background: url("../images/arrow.png") no-repeat;
    width: 23px;
    height: 16px;
    position: absolute;
    top: 12px;
    left: 0;
  }
}

.town-list{
@media screen and (max-width: 767px) {
  .catalog-main {
    display: block;
    float: left;
    width: 100%;
    .town-images{
      float: left;
      width: 100%;
      .catalog-town{
        margin: 0 0 60px 0;
        width: 100%;
        position: relative;
        float: left;
      }
      .catalog-town a{
        display: block;
      }
      .catalog-town img{
        display: none;
        width: 100%;
      }
      .catalog-town .name-of-town{
        margin: 0 0 0 0;
        padding-left: 10px;
        position: absolute;
        width: 100%;
        height: 50px;
        background-color: rgb(187, 29, 32);
        color: white;
        font-size: 24px;
        font-weight: 400;
        line-height: 50px;
        text-transform: uppercase;
      }
      .catalog-town .name-of-town:after{
        content: "";
        background: url("../images/town-trik.png") no-repeat;
        width: 10px;
        height: 15px;
        position: absolute;
        top: 18px;
        right: 25px;
      }
    }
    .text{
      display: none;
      color: black;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-align: justify;
    }
  }
}

}



@media screen and (min-width: 768px){
  .up-line{
    display: none;
  }
  .town-list{
    .mob-line{
      display: none;
    }

    .catalog-main {
      float: left;
      width: 75%;
      .town-images{
        float: left;
        margin-top: 70px;
        .catalog-town{
          margin: 0 0 30px 20px;
          width: 250px;
          position: relative;
          float: left;
        }
        .catalog-town a{
          display: block;
          height: 180px;
        }
        .catalog-town img{
          display: block;
          width: 100%;
          height: 100%;
        }
        a.link-2 {
          height: 0;
        }
        .catalog-town .name-of-town{
          margin: -50px 0 0 0;
          position: absolute;
          width: 100%;
          height: 50px;
          background-color: rgb(187, 29, 32);
          text-align: center;
          color: white;
          font-size: 24px;
          font-weight: 400;
          line-height: 50px;
          text-transform: uppercase;
        }
      }
      .text{
        display: block;
        color: black;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        text-align: justify;
      }
    }
  }
}
@media screen and (min-width: 992px){
  .town-list {
    .catalog-main {
      display: block;
      .town-images .catalog-town {
        max-width: 215px;
      }
      .town-images .catalog-town a{
        height: 150px;
      }
      .town-images .catalog-town a.link-2 {
        height: 0;
      }
    }
  }
}