.catalog-object{
  .obj-cont{
    margin: 0 0 20px 0;
    .image{
      display: block;
    }
    img{
      display: block;
      width: 100%;
    }
    h2{
      margin: 20px 0 0 10px;
      color: black;
      font-size: 22px;
      font-weight: 400;
    }
    .price{
      margin: 15px 0 0 10px;
      color: rgb(187, 29, 32);
      font-size: 30px;
      font-weight: 400;
    }
    .link-2{
      float: right;
      color: rgb(187, 29, 32);
      font-size: 15px;
      font-weight: 400;
      text-decoration: underline;
    }
    .link-2:hover{
      color: black;
    }
  }
  .catalog-main .town-images .catalog-town img{
        display: block;
        width: 100%;
  }


  .tab-item-obj form{
    height: 355px;
    background-color: rgb(40, 38, 38);
  }
  .tab-item-obj h4{
    padding: 20px 0 0 30px;
    color: white;
    font-size: 14px;
    font-weight: 400;
    clear: both;
  }
  .tab-item-obj input{
    float: left;
  }

  .wrap_select{
    margin: 0 2% 0 0;
    min-width: 110px;
    height: 25px;
    float: left;
    width:44%;
  }
  .wrap_select:first-child{
    margin-left: 5%;
  }
  .wrap_select:last-child{
    margin: 0;
  }
  .tab-item-obj .select-cont input[type="submit"]{
    margin: 50px 5% 20px 5%;
    width: 90%;
    height: 30px;
    border: none;
    outline: none;
    background-color: rgb(184, 18, 3);
    color: white;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase;
  }
  .tab-item-obj .select-cont input[type="submit"]:hover{
    background-color: rgb(138, 23, 25);
  }
  .catalog-main .text{
    margin-bottom: 30px;
    display: block;
    text-align: left;
  }
  .numbers ul{
    margin-bottom: 30px;
  }
}


@media screen and  (min-width: 768px){
  .catalog-object {
    .obj-cont {
      margin: 0 0 45px 0;
      .image {
        display: block;
      }
      img {
        display: block;
        width: 100%;
      }
      h2 {
        margin: 20px 0 0 10px;
        color: black;
        font-size: 22px;
        font-weight: 400;
      }
      .price {
        margin: 15px 0 0 10px;
        color: rgb(187, 29, 32);
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}